*,
*:before,
*:after{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #0A6376;
}
.container{
    width: 80%;
    top: 10%;
    left: 10%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
}

h1, h2{
    padding-left: 5%;
    color: #111111;
    font-family: 'Poppins',sans-serif;
}

h1 {
    text-align: center;
}


.entries{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.entry{
    border-radius: 5px;
    align-items: center;
    border: 1px solid #92D8D3;

    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.entry-blue{
    background-color: #86bbf8;
}

.entry-green{
    background-color: #69af7a;
}

.entry span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.button-blue{
    background-color: #18117e;
}

.button-green{
    background-color: #087022;
}
.button{
    position: relative;
    padding: 5px;
    margin: 3px 3px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 20%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

.hide{
    display: none;
}
