<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Queue Worker</title>
  <link rel="shortcut icon" href="favicon.png" type="image/png" />
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/htmx.org@1.8.0"
    integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <img src="transparent-logo.png" class="center">

    <h1>Queue worker  - {{ .AppVersion }} with role: {{ .CurrentRole }}</h1>

    <div class="entries">


      <div class="entry">
        <span id="version">
          My version is <strong>{{ .AppVersion }}</strong> also available at <a href='version'>version</a>
        </span>
      </div>
      <div class="entry">
        <span id="current-conf">
          My settings as read from <code>/etc/podinfo/labels</code>
          <ul>
            <li>My current role is <strong>{{ .CurrentRole }}</strong> also available at <a href='role'>role</a></li>
            <li>My RabbitMQ server is at <strong>{{ .RabbitHost }}:{{ .RabbitPort }} </strong></li>
            <li>Reading messages from queue named <strong>{{ .RabbitReadQueue }} </strong> 
            </li>
          </ul>
        </span>
      </div>

      <div class="entry">
        <span id="endpoints">
          <ul>
            <li>Liveness endpoint is at <a href='health/live'>health/live</a></li>
            <li>Readiness endpoint is at <a href='health/ready'>health/ready</a></li>
          </ul>
        </span>
      </div>
      <div class="entry">
        <span id="description">
          I have processed <strong id="count">{{ .MessagesProcessed }} </strong> messages so far. Also available at <a
            href='count'>count</a>
        </span>
      </div>




    </div>

    <h2>Live log of messages processed</h2>
    <button class="button" hx-post="/dummy" hx-target="#dummyCounter">Send dummy message</button>

    <span id="dummyCounter">
      Sent 0
    </span>
    <div class="entries" hx-get="list" hx-trigger="every 1s">


      <!-- <div class="entry">
        <span id="dfd">
          Application web was deployed successfully to cluster 3
        </span>
      </div>

      <div class="entry">
        <span id="dfdf">
          Application web was deployed successfully to cluster 2
        </span>
      </div> -->


    </div>

  </div>

</body>

</html>